# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
api
main

# Test files
*_test.go

# Development files
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
